---
import BasicLayout from '../../layouts/BasicLayout.astro';
import SectGamesDetail from '../../sections/SectGamesDetail/index.astro';
import SectCommon from '../../sections/SectCommon.astro';
import GamesSlider from '../../components/GamesSlider.svelte';
import DonatQrModal from '../../components/modals/DonatQrModal.svelte';

import SEO from '../../layouts/SEO.astro';
import GameHero from '../../sections/GameHero.astro';
import { bestGames, gamesWithRelations } from '../../store/games';
import GameActionButton from '../../components/GameActionButton.svelte';
import ProjectStage from '../../components/ProjectStage.svelte';
import { gamesStages } from '../../store/gameStages';
import { getArtistBySlug } from '../../store/artists';
import { TeamSlider } from '../../components/TeamSlider';

export async function getStaticPaths() {
  const paths = gamesWithRelations.map((game) => ({
    params: {
      slug: game.slug,
    },
    props: { game },
  }));
  return paths;
}

const { game } = Astro.props;
const { title, description } = game;

const seoImg = new URL(game.thumbnail, Astro.site);

const gameStages = gamesStages.find(({ gameSlug }) => gameSlug === game.slug);
const stages = gameStages?.stages || [];
const artists = !game.team?.length
  ? null
  : game.team.map((slug) => getArtistBySlug(slug));
---

<BasicLayout>
  <SEO slot="seo" {title} {description} imageUrls={{ fb: seoImg.toString() }} />

  <GameHero {game}>
    <GameActionButton {game} client:load />
  </GameHero>

  <SectGamesDetail {game} />

  {
    stages ? (
      <SectCommon title="План проекта">
        <div class="stages">
          {stages.map((stage, idx) => (
            <ProjectStage
              client:load
              {stage}
              isLast={stages.length - 1 === idx}
            />
          ))}
          <DonatQrModal client:load />
        </div>
      </SectCommon>
    ) : null
  }

  {
    artists ? (
      <SectCommon title="Команда">
        <TeamSlider client:load {artists} />
      </SectCommon>
    ) : null
  }

  <SectCommon title="Наши игры">
    <GamesSlider games={bestGames} client:load />
  </SectCommon>
</BasicLayout>
