---
import type { OpenGraphProps } from '../types/open-graph';
import OpenGraph from './OpenGraph.astro';

interface Props extends Omit<OpenGraphProps, 'siteName'> {
  keywords?: string;
}

const { keywords, description, title, ...props } = Astro.props;

const siteName = import.meta.env.SITE_NAME_TAB;
---

<>
  {keywords && <meta name="keywords" content={keywords} />}
  <meta name="description" content={description} />
  <OpenGraph {description} {siteName} {title} {...props} />

  <title>{siteName} - {title}</title>
</>
