---
import type { HTMLAttributes } from 'astro/types';
import PlatformsSlider from '../../components/PlatformsSlider.svelte';
import SVGCheck from '../../components/svg/SVGCheck.svelte';
import ShareLinksBlock from '../../components/ShareLinksBlock.svelte';
import type { GameSelect } from '../../schemas/gamesSchema';
import GameActionButton from '../../components/GameActionButton.svelte';
import { getLanguageTitle } from '../../store/languages';
import { getPublisherTitle } from '../../store/publishers';
import { getDeveloperTitle } from '../../store/developers';
import { getGenreTitle } from '../../store/gameGenres';
import TranslationsTable from '../../components/TranslationsTable/index.astro';

interface Props extends HTMLAttributes<'aside'> {
  game: GameSelect;
}

const { class: className, game, ...props } = Astro.props;

const {
  title,
  thumbnail,
  platforms,
  developer,
  publisher,
  genre,
  releaseDate,
  translations,
} = game;
const genres = genre.map((genre) => getGenreTitle(genre));
const dateString =
  releaseDate && new Date(releaseDate).toLocaleDateString('ru-RU');
---

<script>
  const toggleAllLangs = document.querySelector('.toggle-all-langs');
  const tableLangs = document.querySelector('.table-langs');
  const moveWord = toggleAllLangs?.querySelector('span');

  toggleAllLangs?.addEventListener('click', handleToggleAllLangs);

  function handleToggleAllLangs() {
    tableLangs?.classList.toggle('open');
    if (moveWord) {
      if (tableLangs?.classList.contains('open')) {
        moveWord.innerText = 'Скрыть';
      } else {
        moveWord.innerText = 'Посмотреть';
      }
    }
  }
</script>

<aside class:list={['', className]} {...props}>
  <img class="thumbnail" src={thumbnail} alt={title} />

  <div class="body">
    {platforms && <PlatformsSlider {platforms} client:load />}

    <div class="table-info">
      <div class="td-left">Жанр:</div>
      <div class="td-right"><strong>{genres.join(' • ')}</strong></div>

      <div class="td-left">Разработчик:</div>
      <div class="td-right">
        <strong>{getDeveloperTitle(developer)}</strong>
      </div>

      <div class="td-left">Издатель:</div>
      <div class="td-right">
        <strong>{getPublisherTitle(publisher)}</strong>
      </div>

      <div class="td-left">Дата выхода:</div>
      <div class="td-right"><strong>{dateString || 'Неизвестно'}</strong></div>
    </div>

    <TranslationsTable translations={translations} />

    <div class="interactive-block">
      <GameActionButton {game} client:load />

      <ShareLinksBlock client:load imgSrc={thumbnail} {title} />
    </div>
  </div>
</aside>

<style lang="scss">
  aside {
    grid-area: aside;
    z-index: 1;
    position: relative;
    height: fit-content;

    border: thin solid #555660;
    box-shadow: var(--box-shadow-active);
    backdrop-filter: blur(13px);
  }

  .body {
    padding: 20px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  strong {
    color: rgb(var(--c-accent));
  }

  .table-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px 15px;

    font-size: 14px;

    .td-left {
      grid-column: 1;
    }
    .td-right {
      grid-column: 2;
    }
  }

  .checkbox {
    color: rgb(var(--c-accent));
    svg {
      margin: 0 auto;
    }
  }

  .interactive-block {
    display: flex;
    gap: 30px;

    :global(.btn-firm) {
      flex: 1 1 auto;
    }
  }
</style>
